---
import TextPage from '../layouts/TextPage.astro';
---
<TextPage
	title="About"
	description=""
	pubDate={new Date('August 31 2023')}
>
	<p>A person that used to upload photos almost daily. Long before social media, in the days of AOL Instant Messenger, with a simple point and shoot. That adds up to around 20 years ago, on the same domain. Sure wish I backed up all of those photos from decades ago.</p>

	<p><a href="mailto:gweatherson@gmail.com">gweatherson@gmail.com</a></p>
</TextPage>